:root {
  color-scheme: dark;
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: #060606 !important;
  box-sizing: border-box;
}

/* * {
  scrollbar-color: rgb(27, 27, 27);
}

*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

*::-webkit-scrollbar-track {
  background: rgb(27, 27, 27);
}

*::-webkit-scrollbar-thumb {
  background: #252425;
  outline: 1px solid #252425;
} */

input[type=text] {
  border: 1px solid #333;
  outline: none;
  background: #000;
  color: #ddd;
}

b {
  font-weight: 500;
}

i {
  font-style: italic;
}

.bx--loading__stroke {
  stroke: #6abe30 !important;
}
